@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.difference{
  border: 3px solid rgba(52, 211, 153, 1)
}
.ant-select-selector{
  padding: 13px !important;
  border-radius: 16px !important;
}
.ant-select-selection-item{
background-color: transparent !important;
border-radius: 8px !important;
font-size: 14px;
color: #475367;
line-height: 16.8px;
font-family: 'lato';
box-shadow: none !important;
}
.ant-select{
outline: unset !important;
}
.ant-modal-content{
  padding: 0 !important;
  top: 20px !important;
}
.shortlist .ant-modal-content{
  top: 20rem !important;
  /* height: 500px !important; */
  margin-bottom: 40rem;
}

.ant-select-selection-overflow-item {
  border: 1px solid #1E3A8A !important;
  border-radius: 8px !important;
}
.ant-select-selection-overflow-item-suffix{
  border: none !important;
}
.ant-select-selection-overflow {
  gap: 5px;
}
.ant-select-focused:where(.css-dev-only-do-not-override-14i19y2).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: white !important;  
}
.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
  border-color: #D0D2D6 !important;
  }